spring:
  datasource:
    password: 여기에_로컬_DB_비밀번호

# 선택: 비워 두면 JWT는 임시 키, 인증 메일은 서버 로그로 대신한다
#app:
#  jwt:
#    secret: 32바이트_이상의_임의_문자열
#spring:
#  mail:
#    host: smtp.gmail.com
#    username: 보내는_메일_주소
#    password: 앱_비밀번호
